.nav__block-list {
    margin: 0px;
    display: flex;
}

li.nav__block-list-item {
    margin: 0 10px;
    list-style: none;
    padding: 18px 4px;
    transition: 0.3s all ease-in-out;
    a {
        @extend .link;
        @extend .link--primary;
        font-family: helvetica, sans-serif;
    }
    &--active {
        box-shadow: 0 2px 0 0 #06D6A9;
        a {
            color: $color-teal;
        }
    }
    &:hover, &:focus {
        box-shadow: 0 2px 0 0 $color-teal;
        a {
            color: $color-teal;
        }
    }
}