.Header {
  position: fixed;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
  @include themify($themes) {
    background-color: themed('navBackgroundColor');
    border-bottom: themed('border');
  }
  .menu {
    padding-left: 0;
    li > a {
        padding: 0
    }
  }

  li
  a {
    @extend .link;
    @extend .link--primary;
    font-family: helvetica, sans-serif;
  }
}

.Header__search {
    .input-group {
        margin: 0px;
        font-family: $input-font-family;
        font-size: $input-font-size;
        .input-group-button {
            padding-left: 0.5em;
        }
        .input-group-field {
            box-shadow: none;
            border: 0px transparent;
            transition: 0.3s ease-in;
            position: relative;
            background: transparent;
            &:hover, &:focus {
                box-shadow: 2px 2px 0 0 $color-teal;
                border: 0px transparent;
                border-radius: 0;
            }
            @include themify($themes) {
                color: themed('textColorPrimary');
                caret-color: themed('textColorAccent');
            }
        }
    }
}

.Header__beta {
  margin-right: -22px;
  .beta {
    position: absolute;
    top: 37px;
    left: 133px;
    font-size: 0.7rem;
    @include opacity(0);
    display: none;
    @include themify($themes) {
      color: themed('textColorSecondary');
    }
    @include MQ(L) {
      display: block;
    }
  }
}

.ConnectionError {
  margin-right: 4rem;
  color: #ec5840;
}

.Header__logotype {
    display: block;
    transition: 0.2s all ease-in-out;
    height: auto;
    width: 138px;
    height: 38px;
  .icon-svg {
    fill: $color-teal;
    @include themify($themes) {
      fill: themed('colorAccent');
    }
  }
  @media only screen and (min-width: 400px) {
    height: 37px;
  }
}

.Header__userpic {
  padding: 0;
  position: relative;
  a {
      padding: 6px;
  }
  .Userpic {
    width: 36px !important;
    height: 36px !important;
  }
}

li.Header__hamburger.toggle-menu {
    @include hamburger();
    position: relative;
    > li {
        padding-left: 0.25rem;
    }
    > a {
        padding: 14px 0 14px 14px;
    }
    &::after {
      transition: 0.2s all ease-in-out;
      @include themify($themes) {
        background: themed('textColorPrimary');
        box-shadow: 0 7px 0 themed('textColorPrimary'), 0 14px 0 themed('textColorPrimary');
      }
    }
    &:hover {
      &::after {
        @include themify($themes) {
          background: themed('textColorAccent');
          box-shadow: 0 7px 0 themed('textColorAccent'), 0 14px 0 themed('textColorAccent');
        }
      }
    }
}





.nav__logo {
	width: 144px;
	// height: 100%;
	@include MQ(M) {
		width: 150px;
	}
	&:active, &:visited {
		.icon-svg__shape {
			fill: $color-teal;
		}
	}
	&:hover, &:focus {
		.icon-svg__shape {
			fill: $color-blue-dark;
		}		
	}
	.icon-svg__shape {
		fill: $color-teal;
		transition: 0.2s all ease-in-out;
	}
}


.nav__icon--search {
	position: absolute;
	top: 0;
	left: 0;
}

.icon__search {
	.icon-svg__border {
		stroke: transparent;
		transition: 0.25s all ease-in-out;
	}

	.icon-svg__shape {
		stroke: $color-blue-black;
		// transition: 0.25s all ease-in-out;
	}
}


.icon__post, .icon__post:active {
	.icon-svg__border {
		stroke: #eee;
		transition: 0.25s all ease-in-out;
	}

	.icon-svg__shape {
		fill: $color-blue-black;
		// transition: 0.25s all ease-in-out;
	}
}


.icon__menu{
	fill: #777;
	transition: 0.2s all ease-in-out;
}


.nav__menu-icon {
	cursor: pointer;
	transition: 0.2s all ease-in-out;
	transform: scale(1.2);	
	margin-left: 5px;
	@include MQ(M) {
		transform: scale(1.3);	
	}
	&:hover, &:focus {
		@include MQ(M) {
			transform: scale(1.5);	
		}		
	}
}

.icon {
	&:hover, &:focus {		
		.icon__search {
			.icon-svg__border {
				stroke: none;
				fill: $color-teal;
			}
			.icon-svg__shape {
				stroke: $color-white;
			}				
		}
		.icon__post {
			.icon-svg__border {
				stroke: none;
				fill: $color-blue-dark;
			}
			.icon-svg__shape {
				fill: $color-white;
			}				
		}
		.icon__menu {
			fill: $color-teal;
		}		
	}
}

#custom-search {
	position: relative;
}

#custom-search .search-query {
  width: 36px;
  height: 36px;
  border: 1px solid #eee;
  background-color: transparent;
  color: transparent;
  font-size: 1.2em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0;
  border-radius: 25px;
  font-size: 14px;
  font-family: $font-primary;
  &:hover, &:focus {
  	cursor: pointer;
  }
  @include MQ(M) {
  	width: 42px;
  	height: 42px;
  	font-size: 15px;
  }
}

/* Hide Text when unfocused plus fallbacks */
#custom-search .search-query::placeholder {
  color: transparent;
  transition: all 0.3s ease-in-out;
}

/* Style when Search is selected */
#custom-search .search-query:focus {
  border-radius: 50px;
  border: 1px solid $color-teal;
  width: 240px;
  color: #333;
  outline: none;
  padding-left: 36px;
  font-size: 16px;
}

/* Style for placeholder value plus fallbacks */
#custom-search .search-query:focus::placeholder {
  color: #cccccc;
}

#custom-search .search-query:focus::-webkit-input-placeholder {
  color: #cccccc;
}

/* Style for Button */
#custom-search button {
	border: 0;
	background: none;
	padding: 0;
	margin-bottom: 0;
	border-radius: 3px;
	position: relative;
}

