.Header {
  position: fixed;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
  max-width: none;
  @include themify($themes) {
    background-color: themed('navBackgroundColor');
    border-bottom: themed('border');
  }
}

.Header__nav {
    display: flex;
    align-items: center;
}

.ConnectionError {
  margin-right: 4rem;
  color: #ec5840;
}

.Header__logotype {
  transition: 0.2s all ease-in-out;
  .icon-svg {
    @include themify($themes) {
      fill: themed('colorAccent');
    }
  }
  @media only screen and (min-width: 400px) {
    height: 37px;
  }
}

.Header__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Header__buttons-list {
    float: right;
}

.Header__userpic {
    display: block;
    width: 42px;
    height: 42px;
  a {
      padding: 6px;
  }
  .Userpic {
    width: 42px !important;
    height: 42px !important;
  }
}

.Header__hamburger.toggle-menu {
    @include hamburger();
    &::after {
      transition: 0.2s all ease-in-out;
      @include themify($themes) {
        background: themed('textColorPrimary');
        box-shadow: 0 7px 0 themed('textColorPrimary'), 0 14px 0 themed('textColorPrimary');
      }
    }
    &:hover {
      &::after {
        @include themify($themes) {
          background: themed('textColorAccent');
          box-shadow: 0 7px 0 themed('textColorAccent'), 0 14px 0 themed('textColorAccent');
        }
      }
    }
}
